body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding: 1% 20px;
  color: black;
  background-color: rgb(210, 219, 207);
  width: 40%;
  margin: auto;
  border: solid 1px black;
  min-width: 650px;
}

#usdcBalance,
#usdcAllowance,
#approveAllowance,
#account {
  font-weight: bold;
}

#createTokenId,
#createQuantity,
#modifyTokenId,
#modifyQuantity,
#buyTokenId,
#buyQuantity {
  width: 60px;
}

#createPrice,
#modifyPrice,
#buyPrice {
  width: 90px;
}

#buyOwner {
  width: 320px;
}

#createOfferButton,
#approveButton,
#modifyOfferButton,
#removeOfferButton,
#buyOfferButton {
  margin: 10px 150px;
  font-weight: bold;
  font-size: 14px;
}

.divCreateOffer,
.divListSaleOffers,
.divModifyOffer,
.divRemoveOffer,
.divBuyOffer,
.divApproveNftOffer {
  border: 1px solid black;
  padding: 5px;
}

.subCategory {
  font-weight: bold;
}

#saleOfferstList {
  font-family: 'Courier New', monospace;
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}